:root {
  --heading-color: #25a18e;
  --bodytext-color: #343a40;
  --lighttext-color: #fbf9f0;
  --darkgreen-color: #004e64;
  --button-color: #326fa8;
}

* {
  box-sizing: border-box;
}

/* navigation bar */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Home {
  text-decoration: none;
  color: var(--bodytext-color);
  padding: 20px;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}
#Home:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

#About {
  text-decoration: none;
  padding: 20px;
  color: var(--bodytext-color);
  font-weight: bold;
}
#About:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

#Form {
  text-decoration: none;
  padding: 20px;
  color: var(--bodytext-color);
  font-weight: bold;
}
#Form:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

main {
  max-width: auto;
  align-self: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Poppins", sans-serif;
  color: var(--bodytext-color);
  line-height: 30px;
  font-size: 15px;
}

#terms,
#TimeforChange,
.decade {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

picture img {
  width: 100%;
  padding: 13px;
  border-radius: 17px;
}

/* hero image */
.Container {
  position: relative;
  text-align: center;
}

.button1 {
  align-self: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: #fbf9f0;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 300ms, color 300ms, border 300ms;
  width: 120px;
  height: 35px;
}

.button1:hover {
  background-color: #00a5cf;
  color: var(--bodytext-color);
}

.header {
  font-size: 20px;
  line-height: 35px;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-self: center;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerp {
  margin-top: -5px;
}

header svg {
  width: 40px;
  height: 40px;
}

h2 {
  font-family: "Poppins", sans-serif;
  line-height: 15px;
  font-size: 30px;
}

h3 {
  font-family: "Poppins", sans-serif;
  line-height: 15px;
}

#TimeforChange {
  padding: 30px;
  line-height: 50px;
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Trash {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 70%;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .panel {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #Trash {
    margin-bottom: 10px;
    align-items: center;
  }
  #First {
    margin-bottom: 50px;
  }
}

.full-width {
  display: flex;
  flex-direction: row;
  background-color: #326fa8;
  position: relative;
  height: 400px;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.asidetext {
  color: antiquewhite;
  flex-direction: column;
  margin-left: 1.5rem;
  align-self: center;
}

/* list of organizations */
#article1 {
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  column-gap: 1.6rem;
  background-color: rgb(239, 237, 232);
  position: relative;
  width: 100vw;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#foundations {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

#textbox {
  margin-left: 30px;
  margin-right: 30px;
}

/* CARDS */
.cards {
  display: flex;
}

.card {
  display: inline-block;
  padding: 10px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .cards {
    width: 70%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1100px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 1 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

.card1 .surfcardtext {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
}

.card2 .lonelywhalecardtext {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
}

.card3 .oceanacardtext {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
}

.card4 .oceanconservcardtext {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
}

.card1 {
  height: auto;
  overflow: hidden;
}

.card2 {
  height: auto;
  overflow: hidden;
}

.card3 {
  height: auto;
  overflow: hidden;
}

.card4 {
  height: auto;
  overflow: hidden;
}

.card1 img {
  transition: transform 1s ease;
}

.card2 img {
  transition: transform 1s ease;
}

.card3 img {
  transition: transform 1s ease;
}

.card4 img {
  transition: transform 1s ease;
}

.card1 img:hover {
  background-color: antiquewhite;
  opacity: 80%;
  transition: 1s;
  border-radius: 15px;
  transform: scale(1.5);
}

.card1:hover {
  color: antiquewhite;
  transition: 1s;
}

.card2 img:hover {
  background-color: antiquewhite;
  opacity: 80%;
  transition: 1s;
  transform: scale(1.5);
}

.card2:hover {
  color: antiquewhite;
  transition: 1s;
}

.card3 img:hover {
  background-color: antiquewhite;
  opacity: 80%;
  transition: 1s;
  transform: scale(1.5);
}

.card3:hover {
  color: antiquewhite;
  transition: 1s;
}

.card4 img:hover {
  background-color: antiquewhite;
  opacity: 80%;
  transition: 1s;
  transform: scale(1.5);
}

.card4:hover {
  color: antiquewhite;
  transition: 1s;
}

/* END CARDS */

#effort {
  text-align: center;
  padding-top: 20px;
}

ul {
  color: var(--bodytext-color);
}
#Organizationsleadin {
  padding-left: 10%;
  padding-right: 10%;
}

#Surfrider:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

#Surfrider {
  text-decoration: none;
  color: var(--bodytext-color);
  font-weight: bold;
  transition: background-color 200ms, color 200ms;
  border-radius: 4px;
}

#OceanConserv {
  text-decoration: none;
  color: var(--bodytext-color);
  font-weight: bold;
  transition: background-color 200ms, color 200ms;
  border-radius: 4px;
}

#OceanConserv:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

#Oceana {
  text-decoration: none;
  color: var(--bodytext-color);
  font-weight: bold;
  transition: background-color 200ms, color 200ms;
  border-radius: 4px;
}

#Oceana:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

#LonelyWhale {
  text-decoration: none;
  color: var(--bodytext-color);
  font-weight: bold;
  transition: background-color 200ms, color 200ms;
  border-radius: 4px;
}

#LonelyWhale:hover {
  background-color: var(--heading-color);
  color: whitesmoke;
  border-radius: 4px;
}

.button2 {
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 15px;
  display: inline-block;
  color: var(--text-color);
  border: 2.25px solid black;
  border-radius: 25px;
  font-family: Roboto, sans-serif;
  padding-top: 4px;
  width: 110px;
  height: 40px;
  transition: background-color 300ms, color 300ms, border 300ms;
}

.button2:hover {
  background-color: #25a18e;
  border-color: #25a18e;
  color: whitesmoke;
}

.button2:active {
  transform: translateX(-2px) translateY(-2px);
}

/* learn the terms */

/* button Learn more */
.button {
  text-decoration: none;
  margin: auto;
  display: inline-block;
  color: var(--bodytext-color);
  border: 2.25px solid black;
  padding: 13px 13px 14px;
  border-radius: 7px;
  font-family: Roboto, sans-serif;
  transition: background-color 300ms, color 300ms, border 300ms;
  background-color: var(--lighttext-color);
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background-color: #25a18e;
  border-color: #25a18e;
  color: whitesmoke;
}

.button:active {
  transform: translateX(-2px) translateY(-2px);
}

#termsheader {
  text-align: center;
  font-size: 18px;
}

#termsparagraph {
  background: var(--darkgreen-color);
  color: var(--lighttext-color);
  border-radius: 10px;
  float: center;
  margin: auto;
  width: 100%;
  padding: 20px;
}

#surfers {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 120px;
}

/* footer */
footer {
  color: var(--lighttext-color);
  line-height: 20px;
  text-align: center;
  position: relative;
  background-color: rgb(21, 21, 21);
  height: 300px;
  margin: 0px auto;
  padding-top: 115px;
  width: 100%;
}

/* waves pic */
#waves {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  width: 65%;
}

/* form page */
#formicon {
  width: 40px;
  height: 40px;
}

/* form flexbox */
#formbody {
  display: flex;
  flex-direction: column;
}

#formtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1000px;
  padding: 1rem;
}

.formh1 {
  text-align: center;
  margin-top: 5px;
}

/* form loader */
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  align-self: center;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #004e64;
  box-shadow: 30px 0 0 #00a096;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a5cf;
  box-shadow: 30px 0 0 #326fa8;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #00a096;
  }
  50% {
    box-shadow: 0 0 0 #00a096;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #00a096;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 aqua;
  }
  50% {
    box-shadow: 0 0 0 aqua;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 aqua;
    margin-top: 0;
  }
}

/* about page*/
#aboutbody {
  display: flex;
  flex-direction: column;
}

#abouttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1000px;
  padding: 1rem;
}

.abouth1 {
  text-align: center;
  margin-top: 50px;
}
